.main {
  padding: 20px;
  > h1 {
    text-align: center;
    color: #FFD11A;
    margin: 60px auto;
    width: 60%;
  }

  > h2 {
    text-align: center;
    margin: 10px auto;
    font-size: 1.25rem;
    width: 60%;
  }
}